#  Any of these in position 1
! of a line will lead to it
;  being considered a comment

[Options]
veg_is_deciduous   : .False. 
days_per_year      : 365 #must be whole number!
# Enter the location, b/wn -180 and +180E, and -90 and +90N
latitude_deg_north : 42.20
longitude_deg_east : 001.8
[Initialisation]
soils       : input/Prades_soils.csv
vegetation  : input/Prades_ndf_veg.csv
enkf        : input/EnKF_setup_ndf.csv
initials    : input/top5000_initials.csv
obs         : input/EnKF_obs_3streams.csv
phenology   : input/phenology_ndf.csv

[Meteorology driver]
meteorology              : input/Prades_driver11.csv
file_is_netcdf           : .False. # false=default
air_temperature          : sat
temp_in_kelvin           : .False. # False=>Celcius(default)
file_has_co2             : .True. # does met-file contain a co2 variable?
carbon_dioxide           : coa
constant_CO2_concentration : 358.8 # (ppm) Concentration of atmospheric CO2 (Default=360)
file_has_par             : .True.  # does met-file contain a PAR variable?
photo_active_rad         : par
precipitation            : ppt #precip      
precip_is_rate           : .False. #.True.
#constant_sfc_pressure    : 990 # (mb)  Atmospheric surface pressure (Default=1000)
sw_radiation             : swrad
vapour_pressure_deficit  : vpd
wind_speed               : windsp  

[Output]
# nb: you must include the last backslash on the directory name.
directory           : output/
standard_csv_output : .true.

#[Met Parameters]

#[Veg Parameters]
#rootrad    : 0.0001

#[Soil Parameters]
#snowweight : 0.0
#snowheight : 0.0
